# *=-=-=-=* # Melted Dashboard Core # *=-=-=-=* #
# General
public net.minecraft.block.material.Material func_76223_p()V # setTranslucent
public net.minecraft.block.material.Material func_76226_g()V # setBurning
public net.minecraft.block.material.Material func_76221_f()V # setRequiresTool
public net.minecraft.block.material.Material func_76219_n()V # setNoPushMobility
public net.minecraft.block.material.Material func_76225_o()V # setImmovableMobility
public net.minecraft.block.material.Material func_85158_p()V # setAdventureModeExempt
public net.minecraft.block.material.Material func_149751_l()V # isTranslucent
public-f net.minecraft.world.World *()V # Doesn't matter what it is, we need it public
public-f net.minecraft.world.WorldServer *()V # Doesn't matter what it is, we need it public

# FluxGearItem
public net.minecraft.entity.Entity field_83001_bt # invulnerable
public net.minecraft.entity.Entity field_70178_ae # isImmuneToFire

# FluxGearArmor
public net.minecraft.item.ItemArmor field_94605_cw # overlayIcon

# RegistryHelper
public net.minecraft.util.RegistrySimple field_82596_a # registryObjects
public-f net.minecraft.util.RegistryNamespaced field_148759_a # underlyingIntegerMap

# Misc.
public net.minecraft.entity.monster.EntitySlime func_70799_a(I)V #setSlimeSize


# *=-=-=-=* # MortTweaks # *=-=-=-=* #

# TweakFoodStats
protected net.minecraft.util.FoodStats *()V #We need too much to do it one by one.

# ItemTweakedArmor
public-f net.minecraft.init.Blocks *
public-f net.minecraft.init.Items *





